  body {
    background-color: #dbcbe7;}
  h1 {
    color: #1b1023;}
  h2 {
    color: #503069;}
  h3 {
    color: #6b408c;}
  h4 {
    color: #8650af;}
  p {
    color: #362046;}
  #lead-paragraph {
    background-color: #ffffff;
    color: #1b1023;
    width: 55%;
    padding: 1rem;
    text-align: center;}
  .project {
    background-color: #e7dcef;
    color: #281834;
    font-weight: bold;
    width: 55%;
    border-style: dotted;
    border-color: #362046;
    border-width: 1px;
    padding: .5rem;
    text-align: center;}
  .articles {
    background-color: #281834;
    width: 55%;
    border-style: dashed;
    border-width: 3px;
    border-color: #cfb9df;
    padding: .5rem;}
  .articles-p {
    color: #ffffff;}
  .important {
    background-color: #281834;
    color: #cfb9df;
    font-weight: bold;}
  #footer-text {
    color: #1b1023;
    font-style: italic;}
  img {
    border-width: 3px;
    border-style: dashed;
    border-color: #362046;}
  .important:hover {
    background-color: #ffffff;
    font-weight: bolder;
    color: #ff0000;}
  a:link{
    color: #1b1023;}
  a:visited {
    color: #9362b7;}
