  body {
    background-color: #dbcbe7;
    font-family: "Quicksand", Tahoma, sans-serif;}
  h1 {
    color: #1b1023;}
  h2 {
    color: #503069;}
  h3 {
    color: #6b408c;}
  h4 {
    color: #8650af;}
  p {
    color: #362046;
    font-weight: 600;}
  article {
    background-color: #281834;
    border-style: dashed;
    border-width: 3px;
    border-color: #cfb9df;
    padding: .5rem;}
  article > p {
    color: #ffffff;}
  img {
    border-width: 3px;
    border-style: dashed;
    border-color: #362046;
    transition: filter 2s, transform 7s;
    transition-timing-function: ease-in;}
  img:hover {
    filter: grayscale(100%);
    transform: rotate(360deg);}
  a:link {
    color: #1b1023;
    font-weight: 600;}
  a:visited {
    color: #9362b7;}
  i {
    transition: font-size 4s;
    transition-delay: 1s;}
  i:nth-child(2n+1) {
    color: #9362b7;}
  i:hover {
    font-size: 2em;}
  #lead-paragraph {
    background-color: #ffffff;
    color: #1b1023;
    padding: 1rem;
    text-align: center;}
  .project {
    background-color: #e7dcef;
    color: #281834;
    font-weight: bold;
    border-style: dotted;
    border-color: #362046;
    border-width: 1px;
    padding: .5rem;
    text-align: center;}
  .important {
    background-color: #281834;
    color: #cfb9df;
    font-weight: bold;}
  #footer-text {
    color: #1b1023;
    font-style: italic;}
  .important:hover {
    background-color: #ffffff;
    font-weight: bolder;
    color: #ff0000;}
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;}
  .flexbox-rows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;}
  .box {
    width: 600px;}
  .box-2 {
    width: 425px;}

  /*CSS for form is below*/

  button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: bold;
    box-sizing: border-box;
    display: block;
    margin: 1rem;}

  fieldset {
    background-color: #ffffff;
    border-style: dotted;
    border-color: #362046;
    border-width: 1px;
    font-weight: bold;
    padding: .5rem;}

  fieldset input {
    display: inline;}

  label {
    display: block;
    font-weight: bold;}

  input[type=submit] {
    background-color: #ffffff;
    color: #281834;
    font-weight: bold;
    border-style: dotted;
    border-color: #362046;
    border-width: 1px;
    padding: .5rem;
    text-align: center;}

    input {
      border-radius: 5px;}
